<ul class="list-inline dates-list">
  <% @upcoming_dates.each do |day| %>
    <li>
      <%= link_to movie_theater_path(@movie_theater, :day => day) do %>
        <h2 class="date" id="<%= day %>">
          <% if day === Date.today %>
            Today
          <% else %>
            <%= day.strftime("%b %d") %>
          <% end %>
        </h2>
      <% end %>
    </li>
  <% end %>
</ul>
<hr/>

<script type="text/javascript">
  $( document ).ready(function() {
    $('#<%= @day %>').addClass('active');
  });
</script>
