<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Purchase</h3>
  </div>
  <div class="panel-body">
    <h2 class="no-margin-top">
      <small>Total </small>
    </h2>
    <h2 class="no-margin-top">
      <span id="total-amount">$0.00</span>
    </h2>
    <hr/>
    <%= submit_tag "Checkout", class: "btn btn-lg btn-block time-button" %>
  </div>
</div>
