<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Purchase</h3>
  </div>
  <div class="panel-body">
    <%= submit_tag "Checkout", class: "btn btn-lg btn-block time-button" %>
  </div>
</div>
