<h3>Showtimes for Today</h3>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <% @movie.showings.where(:date => Date.current).each do |showing| %>
    <% if showing.seats_available? && showing.time_slot > Time.current %>

    <%= link_to showing, class: "btn btn-lg time-button" do %>
    <%= showing.time_slot.strftime('%I:%M %p') %>
    <% end %>

    <% else %>

    <%= link_to showing, class: "btn btn-lg time-button", disabled: "disabled" do %>
    <%= showing.time_slot.strftime('%I:%M %p') %>
    <% end %>

    <% end %>
    <% end %>
  </div>
</div>
