<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="movie-app-page-header">
        <h1><%= @movie.name %></h1>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="row">
        <%= render 'movie_information' %>
          <%= render 'todays_showtimes' %>
          <%= render 'view_other_showtimes' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $('#other-show-times-link').click(function() {
      $('#other-show-times').slideToggle();
    });
  });
</script>

