<div class="conatiner">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="movie-app-page-header">
        <h1>
          Manage Screening Rooms
        </h1>
      </div>
    </div>
  </div>
  <br>


  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <h4>Current Screening Rooms</h4>
      <hr/>
      <ul class="list-group">
        <%= render @screening_rooms %>
      </ul>
    </div>

    <div class="col-xs-12 col-md-5">
      <h4>Add New Screening Room</h4>
      <hr/>
      <%= render 'form' %>
    </div>
  </div>
</div>
