body {
  font-family: $font-family-base !important;
  padding-top: $navbar-height + 10px;
}

.navbar {
  background-color: white;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  color: $brand-primary;
}

.no-margin-top {
  margin-top: 0px !important;
}

.movie-theater-landing {
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding-top: $font-size-h1;
}

.date {
  padding: ($font-size-h2 * 1.5) $font-size-h2;
  background-color: $brand-light-gray;
  border-top: 4px solid $brand-primary;
}

.movie-row {
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  padding: 10px;
  margin-top: $font-size-h2;
}

.time-button {
  background-color: $brand-primary;
  color: white;
  font-weight: 600 !important;
  margin-top: 4px;
}
